# Data Cleaning

In [1]:
import pandas as pd

## Cleaning the Arrivals CSV

In [9]:
arrivals = pd.read_csv('../data/dirty/arrivals-d.csv')

In [13]:
arrivals_appended = []
for country in pd.unique(arrivals.Country):
    transpose = arrivals.loc[arrivals.Country == country].drop(columns = ['Country']).transpose()
    transpose.columns = transpose.iloc[0]
    arrivals_appended.append(transpose)
    
final_arrivals = pd.concat(arrivals_appended)

In [17]:
final_arrivals = final_arrivals.loc[final_arrivals['Total arrivals'] != 'Total arrivals']

In [352]:
final_arrivals = final_arrivals.reset_index()

In [307]:
country_list = arrivals.Country.unique()

In [309]:
country_list = pd.DataFrame(country_list)

In [311]:
country_list = country_list.rename(columns = {0:'Country'})

In [327]:
arrivals_country_list = country_list.Country.repeat(23).reset_index(drop = True)

In [333]:
arrivals_country_list = arrivals_country_list.to_frame()

In [356]:
arrivals_cleaned = pd.concat([arrivals_country_list, final_arrivals], axis = 1)

In [499]:
arrivals_cleaned = arrivals_cleaned.rename(columns = {'index':'Year', 'Overnights visitors (tourists)':'Tourists',
                                   'Same-day visitors (excursionists)':'Excursionists', 'of which, cruise passengers':'Cruise Passengers'})

In [507]:
arrivals_cleaned.head()

       Country  Year Total arrivals Tourists Excursionists Cruise Passengers
0  AFGHANISTAN  2000             ..       ..            ..                ..
1  AFGHANISTAN  2001             ..       ..            ..                ..
2  AFGHANISTAN  2002             ..       ..            ..                ..
3  AFGHANISTAN  2003             ..       ..            ..                ..
4  AFGHANISTAN  2004             ..       ..            ..                ..

In [553]:
arrivals_cleaned.to_csv('../data/clean/arrivals.csv')

## Cleaning the Regions CSV

In [61]:
regions = pd.read_csv('../data/dirty/regions-d.csv')

In [65]:
regions_appended = []
for country in pd.unique(regions.Country):
    transpose = regions.loc[regions.Country == country].drop(columns = ['Country']).transpose()
    transpose.columns = transpose.iloc[0]
    regions_appended.append(transpose)

final_regions = pd.concat(regions_appended)

In [381]:
final_regions = final_regions.loc[final_regions['Total'] != 'Total'].reset_index()

In [371]:
regions_country_list = country_list.Country.repeat(23).reset_index(drop = True).to_frame()

In [396]:
regions_cleaned = pd.concat([regions_country_list, final_regions], axis=1)

In [511]:
regions_cleaned = regions_cleaned.rename(columns = {'index':'Year'})

In [513]:
regions_cleaned.head()

,Country,Year,Total,Africa,Americas,East Asia and the Pacific,Europe,Middle East,South Asia,Other not classified,"of which, nationals residing abroad"
0,AFGHANISTAN,2000,..,..,..,..,..,..,..,..,..
1,AFGHANISTAN,2001,..,..,..,..,..,..,..,..,..
2,AFGHANISTAN,2002,..,..,..,..,..,..,..,..,..
3,AFGHANISTAN,2003,..,..,..,..,..,..,..,..,..
4,AFGHANISTAN,2004,..,..,..,..,..,..,..,..,..

In [555]:
regions_cleaned.to_csv('../data/clean/regions.csv')

## Cleaning Expenditures CSV

In [77]:
expenditure = pd.read_csv('../data/dirty/expenditure-d.csv')

In [81]:
expenditure_appended = []
for country in pd.unique(expenditure.Country):
    transpose = expenditure.loc[expenditure.Country == country].drop(columns = ['Country']).transpose()
    transpose.columns = transpose.iloc[0]
    expenditure_appended.append(transpose)

final_expenditure = pd.concat(expenditure_appended)

In [388]:
final_expenditure = final_expenditure.loc[final_expenditure['Travel'] != 'Travel'].reset_index()

In [394]:
expenditure_country_list = country_list.Country.repeat(23).reset_index(drop = True).to_frame()

In [404]:
expenditure_cleaned = pd.concat([expenditure_country_list, final_expenditure], axis = 1)

In [523]:
expenditure_cleaned = expenditure_cleaned.rename(columns = {'index':'Year',
                                                           'Tourism expenditure in the country':'Tourism Expenditure'})

In [525]:
expenditure_cleaned.head()

       Country  Year Tourism Expenditure Travel Passenger transport
0  AFGHANISTAN  2000                  ..     ..                  ..
1  AFGHANISTAN  2001                  ..     ..                  ..
2  AFGHANISTAN  2002                  ..     ..                  ..
3  AFGHANISTAN  2003                  ..     ..                  ..
4  AFGHANISTAN  2004                  ..     ..                  ..

In [557]:
expenditure_cleaned.to_csv('../data/clean/expenditure.csv')

## Cleaning Industries CSV

In [105]:
industries = pd.read_csv('../data/dirty/industries-d.csv')

In [109]:
industries_appended = []
for country in pd.unique(industries.Country):
    transpose = industries.loc[industries.Country == country].drop(columns = ['Country']).transpose()
    transpose.columns = transpose.iloc[0]
    industries_appended.append(transpose)

final_industries = pd.concat(industries_appended)

In [410]:
final_industries = final_industries.loc[final_industries['Number of rooms'] != 'Number of rooms'].reset_index()

In [415]:
industries_country_list = country_list.Country.repeat(23).reset_index(drop = True).to_frame()

In [419]:
industries_cleaned = pd.concat([industries_country_list, final_industries], axis = 1)

In [531]:
industries_cleaned = industries_cleaned.rename(columns = {'index':'Year'})

In [533]:
industries_cleaned.head()

,Country,Year,Number of establishments,Number of rooms,Number of bed-places,Occupancy rate / rooms,Occupancy rate / bed-places,Average length of stay
0,AFGHANISTAN,2000,..,..,..,..,..,..
1,AFGHANISTAN,2001,..,..,..,..,..,..
2,AFGHANISTAN,2002,..,..,..,..,..,..
3,AFGHANISTAN,2003,..,..,..,..,..,..
4,AFGHANISTAN,2004,..,..,..,..,..,..

In [559]:
industries_cleaned.to_csv('../data/clean/industries.csv')

## Cleaning Employment CSV

In [125]:
employment = pd.read_csv('../data/dirty/employment-d.csv')

In [129]:
employment_appended = []
for country in pd.unique(employment.Country):
    transpose = employment.loc[employment.Country == country].drop(columns = ['Country']).transpose()
    transpose.columns = transpose.iloc[0]
    employment_appended.append(transpose)

final_employment = pd.concat(employment_appended)

In [423]:
final_employment = final_employment.loc[final_employment['Passenger transportation'] != 'Passenger transportation'].reset_index()

In [427]:
employment_country_list = country_list.Country.repeat(23).reset_index(drop = True).to_frame()

In [431]:
employment_cleaned = pd.concat([employment_country_list, final_employment], axis = 1)

In [539]:
employment_cleaned = employment_cleaned.rename(columns = {'index':'Year'})

In [541]:
employment_cleaned.head()

,Country,Year,Total,Accommodation services for visitors (hotels and similar establishments),Other accommodation services,Food and beverage serving activities,Passenger transportation,Travel agencies and other reservation services activities,Other tourism industries
0,AFGHANISTAN,2000,..,..,..,..,..,..,..
1,AFGHANISTAN,2001,..,..,..,..,..,..,..
2,AFGHANISTAN,2002,..,..,..,..,..,..,..
3,AFGHANISTAN,2003,..,..,..,..,..,..,..
4,AFGHANISTAN,2004,..,..,..,..,..,..,..

In [561]:
employment_cleaned.to_csv('../data/clean/employment.csv')

## Cleaning GDP CSV

In [139]:
gdp = pd.read_csv('../data/dirty/gdp_in_b-d.csv')

In [155]:
gdp.insert(0, 'GDP', 'GDP', True)

In [161]:
gdp_appended = []
for country in pd.unique(gdp.Country):
    transpose = gdp.loc[gdp.Country == country].drop(columns = ['Country']).transpose()
    transpose.columns = transpose.iloc[0]
    gdp_appended.append(transpose)

final_gdp = pd.concat(gdp_appended)

In [436]:
final_gdp = final_gdp.loc[final_gdp['GDP'] != 'GDP'].reset_index()

In [671]:
gdp_country_list = pd.DataFrame(gdp.Country.unique())

In [673]:
gdp_country_list = gdp_country_list.rename(columns = {0:'Country'})

In [689]:
country_list_50 = gdp_country_list.Country.repeat(50).reset_index(drop = True).to_frame()

In [699]:
gdp_cleaned = pd.concat([country_list_50, final_gdp], axis = 1)

In [701]:
gdp_cleaned = gdp_cleaned.rename(columns = {'index':'Year'})

In [703]:
gdp_cleaned.Country = gdp_cleaned.Country.str.upper()

In [771]:
replacement = {'VIETNAM':'VIET NAM',
               'CZECH REPUBLIC':'CZECH REPUBLIC (CZECHIA)',
               'SYRIA':'SYRIAN ARAB REPUBLIC',
               'MACAO SAR':'MACAO, CHINA',
               'TÜRKIYE, REPUBLIC OF':'TÜRKIYE',
               'CONGO, DEM. REP. OF THE':'CONGO, DEMOCRATIC REPUBLIC OF THE',
               'MOLDOVA':'MOLDOVA, REPUBLIC OF',
               'KYRGYZ REPUBLIC':'KYRGYZSTAN',
               'GAMBIA, THE':'GAMBIA',
               'VENEZUELA':'VENEZUELA, BOLIVARIAN REPUBLIC OF',
               'WEST BANK AND GAZA':'STATE OF PALESTINE',
               'SLOVAK REPUBLIC':'SLOVAKIA',
               'TANZANIA':'TANZANIA, UNITED REPUBLIC OF',
               'HONG KONG SAR':'HONG KONG, CHINA',
               'IRAN':'IRAN, ISLAMIC REPUBLIC OF',
               'MICRONESIA, FED. STATES OF':'MICRONESIA, FEDERATED STATES OF',
               "CHINA, PEOPLE'S REPUBLIC OF":'CHINA',
               'SOUTH SUDAN, REPUBLIC OF':'SOUTH SUDAN',
               'LAO P.D.R.':'LAO PEOPLE´S DEMOCRATIC REPUBLIC',
               'SÃO TOMÉ AND PRÍNCIPE':'SAO TOME AND PRINCIPE',
               "CÔTE D'IVOIRE":'COTE D´IVOIRE',
               'CONGO, REPUBLIC OF ':'CONGO',
               'UNITED STATES':'UNITED STATES OF AMERICA',
               'BAHAMAS, THE':'BAHAMAS',
               'BOLIVIA':'BOLIVIA, PLURINATIONAL STATE OF'}
               
gdp_cleaned.Country = gdp_cleaned.Country.replace(replacement)

In [773]:
gdp_cleaned.head()

       Country  Year      GDP
0  AFGHANISTAN  1980  no data
1  AFGHANISTAN  1981  no data
2  AFGHANISTAN  1982  no data
3  AFGHANISTAN  1983  no data
4  AFGHANISTAN  1984  no data

In [775]:
gdp_cleaned.to_csv('../data/clean/gdp.csv')

## Cleaning GDP Per Capita CSV

In [217]:
gdp_per_capita = pd.read_csv('../data/dirty/gdp_per_capita-d.csv')

In [219]:
gdp_per_capita.insert(0, 'Year', 'GDP Per Capita', True)

In [221]:
gdp_per_capita_appended = []
for country in pd.unique(gdp_per_capita.Country):
    transpose = gdp_per_capita.loc[gdp_per_capita.Country == country].drop(columns = ['Country']).transpose()
    transpose.columns = transpose.iloc[0]
    gdp_per_capita_appended.append(transpose)

final_gdp_per_capita = pd.concat(gdp_per_capita_appended)

In [479]:
final_gdp_per_capita = final_gdp_per_capita.loc[final_gdp_per_capita['GDP Per Capita'] != 'GDP Per Capita'].reset_index()

In [595]:
gdp_per_capita_cleaned = pd.concat([country_list_50, final_gdp_per_capita], axis = 1)

In [597]:
gdp_per_capita_cleaned = gdp_per_capita_cleaned.rename(columns = {'index':'Year'})

In [749]:
gdp_per_capita_cleaned.Country = gdp_per_capita_cleaned.Country.str.upper()

In [777]:
replacement = {'VIETNAM':'VIET NAM',
               'CZECH REPUBLIC':'CZECH REPUBLIC (CZECHIA)',
               'SYRIA':'SYRIAN ARAB REPUBLIC',
               'MACAO SAR':'MACAO, CHINA',
               'TÜRKIYE, REPUBLIC OF':'TÜRKIYE',
               'CONGO, DEM. REP. OF THE':'CONGO, DEMOCRATIC REPUBLIC OF THE',
               'MOLDOVA':'MOLDOVA, REPUBLIC OF',
               'KYRGYZ REPUBLIC':'KYRGYZSTAN',
               'GAMBIA, THE':'GAMBIA',
               'VENEZUELA':'VENEZUELA, BOLIVARIAN REPUBLIC OF',
               'WEST BANK AND GAZA':'STATE OF PALESTINE',
               'SLOVAK REPUBLIC':'SLOVAKIA',
               'TANZANIA':'TANZANIA, UNITED REPUBLIC OF',
               'HONG KONG SAR':'HONG KONG, CHINA',
               'IRAN':'IRAN, ISLAMIC REPUBLIC OF',
               'MICRONESIA, FED. STATES OF':'MICRONESIA, FEDERATED STATES OF',
               "CHINA, PEOPLE'S REPUBLIC OF":'CHINA',
               'SOUTH SUDAN, REPUBLIC OF':'SOUTH SUDAN',
               'LAO P.D.R.':'LAO PEOPLE´S DEMOCRATIC REPUBLIC',
               'SÃO TOMÉ AND PRÍNCIPE':'SAO TOME AND PRINCIPE',
               "CÔTE D'IVOIRE":'COTE D´IVOIRE',
               'CONGO, REPUBLIC OF ':'CONGO',
               'UNITED STATES':'UNITED STATES OF AMERICA',
               'BAHAMAS, THE':'BAHAMAS',
               'BOLIVIA':'BOLIVIA, PLURINATIONAL STATE OF'}
               
gdp_per_capita_cleaned.Country = gdp_per_capita_cleaned.Country.replace(replacement)

In [779]:
gdp_per_capita_cleaned.head()

       Country  Year GDP Per Capita
0  AFGHANISTAN  1980        no data
1  AFGHANISTAN  1981        no data
2  AFGHANISTAN  1982        no data
3  AFGHANISTAN  1983        no data
4  AFGHANISTAN  1984        no data

In [781]:
gdp_per_capita_cleaned.to_csv('../data/clean/gdp_per_capita.csv')

## Cleaning Tourism GDP CSV

In [243]:
tourism_gdp = pd.read_csv('../data/dirty/tourism_gdp-d.csv')

In [785]:
tourism_gdp_cleaned = tourism_gdp

In [787]:
tourism_gdp_cleaned.Country = tourism_gdp_cleaned.Country.str.upper()

In [799]:
replacement = {'REPUBLIC OF KOREA':'KOREA, DEMOCRATIC PEOPLE´S REPUBLIC OF',
              'UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND':'UNITED KINGDOM',
              'CZECHIA':'CZECH REPUBLIC (CZECHIA)',
              'CHINA, HONG KONG SPECIAL ADMINISTRATIVE REGION':'HONG KONG, CHINA',
              "CÔTE D'IVOIRE":"COTE DÂ´IVOIRE",
              'CHINA, MACAO SPECIAL ADMINISTRATIVE REGION':'MACAO, CHINA',
              'NETHERLANDS (KINGDOM OF THE)':'NETHERLANDS'}
               
tourism_gdp_cleaned.Country = tourism_gdp_cleaned.Country.replace(replacement)

In [795]:
tourism_gdp_cleaned.head()

   Country  Year  %GDP
0  ALBANIA  2008   2.8
1  ALBANIA  2009   2.7
2  ALBANIA  2010   2.8
3  ALBANIA  2011   2.5
4  ALBANIA  2012   2.4

In [801]:
tourism_gdp_cleaned.to_csv('../data/clean/tourism_gdp.csv')

## Cleaning Population CSV

In [851]:
population = pd.read_csv('../data/dirty/population-d.csv')

In [853]:
population.columns = population.iloc[0]

In [855]:
population_cleaned = population.loc[population['Type'] == 'Country/Area']

In [857]:
population_cleaned = population_cleaned.loc[population_cleaned.Year == '2022']

In [859]:
population_cleaned.columns = ['Country', 'Type', 'Year', 'Population', 'Population Density']

In [861]:
population_cleaned.Country = population_cleaned.Country.str.upper()

In [863]:
replacement = {'CHINA, TAIWAN PROVINCE OF CHINA':'TAIWAN PROVINCE OF CHINA',
              'CHINA, MACAO SAR':'MACAO, CHINA',
              'CHINA, HONG KONG SAR':'HONG KONG, CHINA',
              'BONAIRE, SINT EUSTATIUS AND SABA':'BONAIRE',
              'DEMOCRATIC REPUBLIC OF THE CONGO':'CONGO, DEMOCRATIC REPUBLIC OF THE',
              'REPUBLIC OF MOLDOVA':'MOLDOVA, REPUBLIC OF',
              'REPUBLIC OF KOREA':'KOREA, REPUBLIC OF',
              'BOLIVIA (PLURINATIONAL STATE OF)':'BOLIVIA, PLURINATIONAL STATE OF',
              'IRAN (ISLAMIC REPUBLIC OF)':'IRAN, ISLAMIC REPUBLIC OF',
              "LAO PEOPLE'S DEMOCRATIC REPUBLIC":'LAO PEOPLE´S DEMOCRATIC REPUBLIC',
              'CZECHIA':'CZECH REPUBLIC (CZECHIA)',
              "DEM. PEOPLE'S REPUBLIC OF KOREA":'KOREA, DEMOCRATIC PEOPLE´S REPUBLIC OF',
              'UNITED REPUBLIC OF TANZANIA':'TANZANIA, UNITED REPUBLIC OF',
              'MICRONESIA (FED. STATES OF)':'MICRONESIA, FEDERATED STATES OF',
              'VENEZUELA (BOLIVARIAN REPUBLIC OF)':'VENEZUELA, BOLIVARIAN REPUBLIC OF',
              "CÔTE D'IVOIRE":"COTE D'IVOIRE"}
               

population_cleaned.Country = population_cleaned.Country.replace(replacement)

In [865]:
population_cleaned.head()

       Country          Type  Year Population Population Density
2667   BURUNDI  Country/Area  2022     13 321              513.3
2741   COMOROS  Country/Area  2022        834              448.2
2815  DJIBOUTI  Country/Area  2022      1 137               49.1
2889   ERITREA  Country/Area  2022      3 409               28.1
2963  ETHIOPIA  Country/Area  2022    125 384              125.4

In [867]:
population_cleaned.to_csv('../data/clean/population.csv')