# Tourism Capstone Project

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

## Importing all Clean CSVs

In [7]:
arrivals = pd.read_csv('../data/clean/arrivals.csv')

In [9]:
employment = pd.read_csv('../data/clean/employment.csv')

In [11]:
expenditure = pd.read_csv('../data/clean/expenditure.csv')

In [13]:
gdp = pd.read_csv('../data/clean/gdp.csv')

In [15]:
gdp_per_capita = pd.read_csv('../data/clean/gdp_per_capita.csv')

C:\Users\jbreu\AppData\Local\Temp\ipykernel_23136\3355248814.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  gdp_per_capita = pd.read_csv('../data/clean/gdp_per_capita.csv')

In [19]:
industries = pd.read_csv('../data/clean/industries.csv')

In [21]:
population = pd.read_csv('../data/clean/population.csv')

In [23]:
regions = pd.read_csv('../data/clean/regions.csv')

In [25]:
tourism_gdp = pd.read_csv('../data/clean/tourism_gdp.csv')

## EDA

### Arrivals

In [53]:
arrivals.dtypes

Unnamed: 0            int64
Country              object
Year                  int64
Total arrivals       object
Tourists             object
Excursionists        object
Cruise Passengers    object
dtype: object

In [96]:
arrivals_with_data = arrivals.loc[arrivals['Total arrivals'] != '..']

In [98]:
arrivals_with_data['Total arrivals'] = arrivals_with_data['Total arrivals'].str.replace(',','')

C:\Users\jbreu\AppData\Local\Temp\ipykernel_23136\1840284193.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arrivals_with_data['Total arrivals'] = arrivals_with_data['Total arrivals'].str.replace(',','')

In [100]:
arrivals_with_data['Total arrivals'] = arrivals_with_data['Total arrivals'].astype(float)

C:\Users\jbreu\AppData\Local\Temp\ipykernel_23136\2954131986.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arrivals_with_data['Total arrivals'] = arrivals_with_data['Total arrivals'].astype(float)

In [110]:
sum_total_arrivals = arrivals_with_data.groupby('Country')['Total arrivals'].sum().reset_index().sort_values(by = 'Total arrivals', ascending = False)

In [112]:
sum_total_arrivals.head(15)

                      Country  Total arrivals
49                     FRANCE       3446103.0
153  UNITED STATES OF AMERICA       2921016.0
27                      CHINA       2592937.0
135                     SPAIN       2167136.0
91                     MEXICO       2014779.0
69                      ITALY       1624308.0
110                    POLAND       1543368.0
33                    CROATIA       1093397.0
62                    HUNGARY        957254.0
61           HONG KONG, CHINA        758040.0
152            UNITED KINGDOM        693394.0
149                   TÜRKIYE        692126.0
23                     CANADA        676904.0
38                    DENMARK        527580.0
84               MACAO, CHINA        502620.0